.icon-action {
  font-size: 15px;
}

.icon-type {
  font-size: 30px;
}

.icon-button > div > span::before {
  /* color: red; */
}

[data-typecolor="/P/"] {
  color: green;
}

[data-typecolor="/O/"] {
  color: #031e48;
}

[data-typerow="/O/"] {
  /* Attribute has this exact value */
}
[data-typerow="/P/"] {
  font-weight: bold;
  color: green;
}
[data-typerow="/R/"] {
  font-weight: bold;
  color: #031e48;
}
.border-box {
  border: 1px solid lightgray;
}

.titleAT {
  color: white !important;
}

[id*="indexPage-cont"] {
  height: auto !important;
  width: 100%;
}
.pianificazioneRow .sapMSltArrow {
  width: 1.5rem !important;
  line-height: 1.5rem !important;
  right: 0;
}
.pianificazioneRow .sapMSlt > .sapMSltLabel {
  width: 100%;
  line-height: 1.375rem !important;
  font-size: 0.875rem;
}
.pianificazioneRow .sapMSlt {
  height: 1.5rem !important;
  margin: 0.25rem 0 0.25rem 0;
  border: 1px solid #c0c0c0;
}
.pianificazioneRow .sapMListTblCell {
  padding: initial !important;
  vertical-align: middle !important;
  font-size: 0.875rem;
}

.pianificazioneRow td {
  padding: 1rem !important;
  /* padding-left: 0.3rem !important;
  padding-right: 0.3rem !important; */
}
.pianificazioneRow .sapMInputBaseInner {
  height: 1.5rem;
}
.pianificazioneRow .sapMInputValHelpInner {
  height: 1.375rem;
  line-height: 1.375rem;
}
.pianificazioneRow .sapMInputBase {
  height: 2rem;
}
